<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/fonts.ejs')%>
  <title>Document</title>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/new.css" />
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <div class="page-heading">Start a Trade</div>

    <form class="new-trade-form" id="my_form" action="/trades/<%=trade.id%>?_method=PUT" method="POST">
      
      <div class="form-line">
        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="Enter Category" value="<%= trade.category %> " />
      </div>
      <div class="form-line">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Name" value="<%= trade.name %> " />
      </div>
      <div class="form-line">
        <label for="image">Image Link</label>
        <input type="text" id="image" name="imageLink" placeholder="Paste Image link" value="<%= trade.imageLink %> " />
      </div>
      <div class="form-line">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="Enter Price" value="<%= trade.price %> " />
      </div>
      <div class="form-line">
        <label for="description">Product description</label>
        <textarea id="desc" cols="30" rows="5" name="description" placeholder="Give details about your product"><%= trade.description %> </textarea>
      </div>
      <div class="form-line">
        <a class="create-button" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Make Changes</a>
      </div>
    </form>
  </main>
  <%- include('../partials/footer.ejs')%>
</body>

</html>