<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/fonts.ejs')%>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/newtrade.css" />
  <title>Document</title>
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <main>
    <%= item.name %> <br>
    <%= item.price %> <br>
    <%= item.description %> <br>
    <%= item.author.firstName %> <br>
    <%= item.author.lastName %> <br>
    <%= item.imageLink %> <br>
    <%= item.status %> <br>
    <%= item.createdAt %> <br>

    <% 
        let status = item.status;
       status = status.charAt(0).toUpperCase() + status.slice(1);   
       let price = item.price;
       if(!price.includes('$')){
         price = '$'+price;
       }

    %>

    <div class="item">
      <div class="item__picture">
        <img src="<%=item.imageLink%>" alt="" class="item__pic">
      </div>
      <div class="item__name">
        <%= item.name %>
      </div>
      <div class="item__status-price">
        <%= status %> &nbsp; &nbsp; <span><%= price %></span>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs')%>
</body>

</html>