<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/fonts.ejs')%>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/newtrade.css" />
  <title>Document</title>
</head>

<body id="page">
  <%- include('../partials/header.ejs')%>
  <main>
    <% 
        let status = item.status;
       status = status.charAt(0).toUpperCase() + status.slice(1);   
       let price = item.price;
       if(!price.includes('$')){
         price = '$'+price;
       }
    %>

    <div class="item">
      <div class="item__picture">
        <img src="<%=item.imageLink%>" alt="" class="item__pic">
      </div>
      <div class="item__name">
        <%= item.name %>
      </div>
      <div class="item__status-price">
        <span id="status"><%= status %></span> &nbsp; &nbsp; <span id="price"><%= price %></span>
      </div>
      <div class="item__posted">
        Posted On: <%= item.createdAt.toLocaleString() %> <br> <br>
        Last Changes Made: <%= item.updatedAt.toLocaleString() %>
      </div>
      <div class="item__buttons">
        <input type="submit" value="Rate">
        <input type="submit" value="Trade">
        <% if(user == item.author.id){ %>
        <form method="get" action="/trades/<%=item.id%>/edit">
          <input type="submit" value="Edit">
        </form>
        <form action="/trades/<%=item.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete">
        </form>
        <% } %>
      </div>
      <div class="item__desc">
        <%= item.description %>
      </div>
    </div>
    <div class="comments">
      <div class="comments__title">
        Reviews:
      </div>
      <div class="comments__1">
        <div class="comments__1-dp">
          <img src="https://source.unsplash.com/mEZ3PoFGs_k" alt="">
        </div>
        <div class="comments__1-name">
          Sarah Cooper
        </div>
        <div class="comments__1-date">
         Posted: <%= item.updatedAt.toLocaleString() %>
        </div>
        <div class="comments__1-comment">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem aut aliquid dignissimos ad voluptatum consequuntur consectetur id necessitatibus sunt dolorum, maiores distinctio ipsam pariatur laborum et dolorem numquam ducimus, reiciendis ullam fugiat placeat facere voluptatem? Nemo, voluptatum sit! Officia, ullam.
        </div>
      </div>
      <div class="comments__1">
        <div class="comments__1-dp">
          <img src="https://source.unsplash.com/rDEOVtE7vOs" alt="">
        </div>
        <div class="comments__1-name">
          Beth Bradshaw
        </div>
        <div class="comments__1-date">
         Posted: <%= item.updatedAt.toLocaleString() %>
        </div>
        <div class="comments__1-comment">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem aut aliquid dignissimos ad voluptatum consequuntur consectetur id necessitatibus sunt dolorum, maiores distinctio ipsam pariatur laborum et dolorem numquam ducimus, reiciendis ullam fugiat placeat facere voluptatem? Nemo, voluptatum sit! Officia, ullam.
        </div>
      </div>
      <div class="comments__1">
        <div class="comments__1-dp">
          <img src="https://source.unsplash.com/D9HRdD46K0o" alt="">
        </div>
        <div class="comments__1-name">
          Hari Shankar
        </div>
        <div class="comments__1-date">
         Posted: <%= item.updatedAt.toLocaleString() %>
        </div>
        <div class="comments__1-comment">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem aut aliquid dignissimos ad voluptatum consequuntur consectetur id necessitatibus sunt dolorum, maiores distinctio ipsam pariatur laborum et dolorem numquam ducimus, reiciendis ullam fugiat placeat facere voluptatem? Nemo, voluptatum sit! Officia, ullam.
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs')%>
  <script src="/javascript/status.js"></script>
</body>

</html>