<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/fonts.ejs')%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <title><%= user.firstName+' '+user.lastName %></title>
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <%- include('../partials/flash.ejs') %>
  <% user.firstName = user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1); 
  user.lastName = user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1); %>
  %>

  <h1 class="profile-heading">Profile</h1>
  <div class="profile">
    <div class="profile__details">
      <div class="profile__details-img">
        <img src="https://source.unsplash.com/WNoLnJo7tS8" alt="">
      </div>
      <div class="profile__details-name">
        <%= user.firstName+' '+user.lastName %>
      </div>
      <div class="profile__details-email">
        <%= user.email %>
      </div>
      <div class="profile__details-created">
        Active Since: March, 2021
      </div>
    </div>
    <div class="profile__trades">

      <% if(items.length == 0) { %>
      <div class="profile__trades-empty">
        <h2>No trades yet!</h2>
        <p>Start trading now!</p>
      </div>
      <% } else { %>
      <div class="profile__trades-list">
        <div class="profile__trades-list-heading">
          Your Trades
        </div>
        <% for(var i = 0; i < items.length; i++) { %>
        <div class="profile__trades-item">

          <div class="profile__trades-item-img">
            <% if(items[i].imageLink){ %>
            <img src="<%= items[i].imageLink %>" alt="No image">
            <% } else { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
              <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
            </svg>
            <span> No Image</span>
            <% } %>
          </div>
          <div class="profile__trades-item-name">
            <%= items[i].name %>
          </div>
          <div class="profile__trades-item-price">
            <% if(!items[i].price.includes('$')) { %>
            $<%= items[i].price %>
            <% }else{ %>
            <%= items[i].price %>
            <% } %>
          </div>
          <div class="profile__trades-item-date">
            <%= items[i].createdAt.toLocaleString() %>
          </div>
          <div class="profile__trades-item-buttons">
            <a href="/trades/<%=items[i].id%> ">Open</a>
            <a href="/trades/<%=items[i].id%>/edit">Edit</a>
            <a class="profile__trades-item-buttons-delete" data-toggle="modal" data-target="#deleteModal">Delete</a>

            <!-- Modal -->
            <form action="/trades/<%=items[i].id%>?_method=DELETE" method="post">
              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you Sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-danger"> Delete </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
        <% } } %>
      </div>
    </div>
  </div>

  <div class="wishlist">

    <% if(user.wishlist.length == 0) { %>
    <div class="wishlist-empty">
      <h2 class="wishlist-heading">No items in your wishlist!</h2>
      <p>Start adding now!</p>
    </div>
    <% } else { %>
    <h2 class="wishlist-heading">Your wishlist : </h2>

    <% user.wishlist.forEach(item => {%>
    <div class="wishlist-item">
      <form method="post" action="/trades/<%=item.id%>/wishlist?_method=DELETE ">
        <button type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
          </svg>
        </button>
      </form>
      <div class="wishlist-item-image">
        <img src="<%= item.imageLink %>" alt="<%= item.name %>" />
      </div>
      <div class="wishlist-item-info">
        <h3 class="wishlist-item-name"><%= item.name %></h3>
        <p class="wishlist-item-price">
          <% if(!item.price.includes('$')) { %>
          $ <%= item.price %>
          <% } else { %>
          <%= item.price %>
          <% } %>
        </p>
        <p class="wishlist-item-created"><%= item.createdAt.toLocaleString() %> </p>
      </div>
    </div>
    <%})}%>

  </div>

  <div class="requestsSent">
    <% if(requestsSent.length == 0) { %>
    <div class="requestsSent-empty">
      <h2 class="requestsSent-heading">No pending requests sent!</h2>
      <p>Check Trade history for your list of trades!</p>
    </div>
    <% } else { %>
    <div class="requestsSent-list">
      <h2 class="requestsSent-heading">Your sent Requests : </h2>
      <% requestsSent.forEach(request=>{ %>
      <div class="requestsSent-item">
        <div class="requestsSent-item-img">
          <img src="<%= request.respondItem.imageLink %> " alt="">
          <img src="<%= request.initiateItem.imageLink %> " alt="">
        </div>
        <div class="requestsSent-item-name">
          <p>Asked : </p> <span><%= request.respondItem.name %></span>
          <p> For: </p> <span><%= request.initiateItem.name %></span>
        </div>
        <div class="requestsSent-item-price">
          <% if(!request.respondItem.price.includes('$')) { %>
          <span>Asked item:</span> <span>$<%= request.respondItem.price %></span>
          <% }else{ %>
          <span>Asked item: </span> <span><%= request.respondItem.price %></span>
          <% } %>
          <% if(!request.initiateItem.price.includes('$')) { %>
          <span>Your item: </span> <span>$<%= request.initiateItem.price %></span>
          <% }else{ %>
          <span>Your item:</span> <span><%= request.initiateItem.price %></span>
          <% } %>
        </div>
        <div class="requestsSent-item-owner">
          <span>Posted by: </span> <span><%= request.responder.firstName+' '+request.responder.lastName %></span>
        </div>
        <div class="requestsSent-item-status">
          <% if(request.status == 'pending'){ %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
            <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z" />
          </svg>
          <% }else if(request.status == 'rejected'){ %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
          </svg>
          <% } else { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
          </svg>
          <% } %>
          <%= request.status.charAt(0).toUpperCase() + request.status.slice(1) %>
        </div>
        <div class="requestsSent-item-action">
          <% if(request.status == 'pending'){ %>
          <form action="/trades/<%=request.respondItem.id%>/exchange/<%= request.initiateItem.id%>/cancel" method="post">
            <button type="submit" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>
              Cancel
            </button>
          </form>
          <% } %>
        </div>
      </div>
      <% })} %>
    </div>
  </div>



  <div class="requestsReceived">
    <% if(requestsSent.length == 0) { %>
    <div class="requestsReceived-empty">
      <h2 class="requestsReceived-heading">No pending requests received!</h2>
      <p>Check Trade history for your list of trades!</p>
    </div>
    <% } else { %>
    <div class="requestsReceived-list">
      <h2 class="requestsReceived-heading">Your Received Requests : </h2>
      <% requestsReceived.forEach(request=>{ %>
      <div class="requestsReceived-item">
        <div class="requestsReceived-item-img">
          <img src="<%= request.respondItem.imageLink %> " alt="">
          <img src="<%= request.initiateItem.imageLink %> " alt="">
        </div>
        <div class="requestsReceived-item-name">
          <p> Asked : </p> <span><%= request.respondItem.name %></span>
          <p> For: </p> <span><%= request.initiateItem.name %></span>
        </div>
        <div class="requestsReceived-item-price">
          <% if(!request.respondItem.price.includes('$')) { %>
          <span>Asked item:</span> <span>$<%= request.respondItem.price %></span>
          <% }else{ %>
          <span>Asked item: </span> <span><%= request.respondItem.price %></span>
          <% } %>
          <% if(!request.initiateItem.price.includes('$')) { %>
          <span>For item: </span> <span>$<%= request.initiateItem.price %></span>
          <% }else{ %>
          <span>For item:</span> <span><%= request.initiateItem.price %></span>
          <% } %>
        </div>
        <div class="requestsReceived-item-owner">
          <span>Posted by: </span> <span><%= request.initiator.firstName+' '+request.initiator.lastName %></span>
        </div>
        <div class="requestsReceived-item-status">
          <% if(request.status == 'pending'){ %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
            <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z" />
          </svg>
          <% }else if(request.status == 'rejected'){ %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
          </svg>
          <% } else { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
          </svg>
          <% } %>
          <%= request.status.charAt(0).toUpperCase() + request.status.slice(1) %>
        </div>
        <% if(request.status == 'pending') {%>
        <div class="requestsReceived-item-action">

          <form action="/trades/<%= request.respondItem.id %>/exchange/<%= request.initiateItem.id %>/accept" method="post">
            <button type="submit" class="btn btn-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Accept</button>
          </form>

          <form action="/trades/<%= request.respondItem.id %>/exchange/<%= request.initiateItem.id %>/reject" method="post">
            <button type="submit" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-neutral" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z" />
              </svg>
              Reject</button>
          </form>

        </div>
        <% } %>
      </div>
      <% })} %>
    </div>
  </div>




  <%- include('../partials/footer.ejs')%>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>